<div class="services">
	<div class="services__inner inner">
		<div class="t-center">
			<h5 class="subtitle">Що ми вміємо</h5>
			<h2 class="services__title title title-white">Що ми вміємо</h2>
		</div>
		<ul class="services__list">
			{% for item in [
				{
					img: 'proect',
					title: 'ПРОЕКТУВАННЯ ТА ДИЗАЙН',
					text: 'Перед кожним проектом ми проведемо детальний та глибокий аналіз ваших вимог з точки зору ігрового досвіду. На етапі проектування ми будемо найближче працювати з Вами, обирати правильний підхід до виконання вашого проекту, отримувати всі необхідні документи для старту робіт та створимо 3D-візуалізацію з неповторним дизайном Вашого проекту. Наша команда запропонує найкращий тип та якість покриття, виходячи з ваших вимог та комплексного дослідження грунтів.'
				},
				{
					img: 'reconstruct',
					title: 'БУДІВНИЦТВО ТА РЕКОНСТРУКЦІЯ',
					list: [
						'Влаштування основи спортивних майданчиків',
						'Влаштування комплекту огорожі',
						'Монтаж спортивних покриттів',
						'Монтаж спортивно-ігрового та дитячого обладнання',
						'Влаштування системи освітлення',
						'Будівництво каркасно-модульних конструкцій',
						'Благоустрій територій'
					]
				},
				{
					img: 'shield',
					title: 'СПОРТИВНО-ІГРОВЕ ОБЛАДНАННЯ',
					text: 'Професійно підберемо, доставимо та змонтуємо найкраще спортивно-ігрове, гімнастичне та обладнання для дитячих майданчиків, вуличні тренажери. Разом з «ДІО СПОРТ» у вас є вибір серед великого асортименту сертифікованої вітчизняної та іноземної продукції, а також можливість індивідуального виробництва.'
				},
				{
					img: 'cover',
					title: 'СПОРТИВНІ ПОКРИТТЯ',
					list: [
						'Штучна трава',
						'Поліуретанове покриття',
						'Спортивний лінолеум',
						'Резинове покриття',
						'Модульне покриття'
					]
				}
			] %}
				<li class="services__item">
					<div class="service">
						<div class="service__img-wrap">
							<div class="service__img" style="background-image: url(./img/{{item.img}}.jpg)"></div>
						</div>
						<div class="service__content">
							<h3 class="service__title title-sm">{{item.title}}</h3>
							{% if item.list %}
							<ul class="list">
								{% for serv in item.list %}
									<li class="list__item">{{serv}}</li>
								{% endfor %}
							</ul>
							{% else %}
							<p>{{item.text}}</p>
							{% endif %}
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>