<div class="testimonials">
	<div class="testimonials__inner inner">
		<div class="t-center">
			<h5 class="subtitle">Відгуки</h5>
			<h2 class="testimonials__title title">Відгуки Відгуки Відгуки</h2>
		</div>
		<div class="testimonials__slider-wrap js-testimonials-slider-wrap">
			<div class="arrow-prev js-arrow-prev">
				<button type="button">
					{{mixins.icon('arr-left')}}
				</button>
			</div>
			<div class="arrow-next js-arrow-next">
				<button type="button">
					{{mixins.icon('arr-right')}}
				</button>
			</div>
			<div class="testimonials__slider js-testimonials-slider">
				{% for item in [
					{
						text: '"Будуємо та облаштовуємо спортивні комплекси, футбольні поля, баскетбольні та волейбольні майданчики, тенісні корти, гімнастичні, ігрові та найкращі майданчики для дітей. Професійно обираємо, поставляємо, монтуємо та беремо на себе подальше обслуговування надійного спортивного інвентарю та необхідного обладнання"',
						img: 'playground.jpg',
						name: 'Ім\'я Прізвище',
						position: 'Посада, Компанія'
					},
					{
						text: '"Будуємо та облаштовуємо спортивні комплекси, футбольні поля, баскетбольні та волейбольні майданчики, тенісні корти, гімнастичні, ігрові та найкращі майданчики для дітей. Професійно обираємо, поставляємо, монтуємо та беремо на себе подальше обслуговування надійного спортивного інвентарю та необхідного обладнання"',
						img: 'playground.jpg',
						name: 'Ім\'я Прізвище',
						position: 'Посада, Компанія'
					},
					{
						text: '"Будуємо та облаштовуємо спортивні комплекси, футбольні поля, баскетбольні та волейбольні майданчики, тенісні корти, гімнастичні, ігрові та найкращі майданчики для дітей. Професійно обираємо, поставляємо, монтуємо та беремо на себе подальше обслуговування надійного спортивного інвентарю та необхідного обладнання"',
						img: 'playground.jpg',
						name: 'Ім\'я Прізвище',
						position: 'Посада, Компанія'
					}
					] %}
					<div class="testimonials__slide">
						<div class="testimonial">
							<blockquote class="t-center">
								<p>{{item.text}}</p>
							</blockquote>
							<div class="testimonial__person">
								<div class="testimonial__img" style="background-image: url(./img/{{item.img}})"></div>
								<div class="testimonial__info">
									<h6 class="testimonial__name title-xs">{{item.name}}</h6>
									<p>{{item.position}}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>