.icon-arr-left {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arr-right {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-building {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-recommended {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-shield {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-tel {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-tie {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-value {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
